

/*************************** Fonts ***************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Exo:100,200,300,400,500,600,700');


.logo{    
    /*background: url(../images/IOT.png);*/
    background-color: #e7dbdbe3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    min-width:360px;
}
.heading {
  
    margin-top: 50px;
    min-height: 200px;
}
.heading-bg{
    background-color:lightgray;
    width:100%;
    height:200px;
    border-radius: 0.75em;
}

  .maintxt {
    background-image: url(../images/IOT.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px;
    min-width:300px
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #e7dbdbe3;
  }
  .intro-image{ 
    min-height: 200px;
    min-width:60px;
}
.nav-text{
    color: #fff;
}
.download-cv{
    font-size:20px;
    color:black;
    margin-left: 10px;
    margin-top: 20px;
}
.social-icon{
    font-size: 30px;
}
.logo-color{
    color:blue;
}
.form-size {
        max-width: 100%; 
}
.legend-format{
    font-weight: bold;
}
.form-row-button {
    
    padding-right: 400px;
    margin-right: 20px;
    margin-left: -5px;
    margin-top: 20px;
    
}
.side-image{
    background: url(../images/IOT.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    object-fit: cover;
    /*width:300px;*/
    height:300px;
    /*margin-left:50px;*/
    /*margin-right:50px;*/
}
.locate-heading{
    background-color:#fff;
    max-height: 300px;
    z-index: 9999;
    position:relative;
    margin-left:80%;
    margin-top: 40%;
}
.shift-skills{
    margin-left: 20px;
    margin-bottom:2px;
}
top-padding{
    padding-top: 100px;
}
.show-inline{
    display: inline-table;
}
.nav-pills .nav-link:not(.active)/*, .nav-pills .show>.nav-link*/{
/*.nav-pills.nav-link:not(.active){*/
    background-color:lightgray;
    color:black;
    min-width:  30px;
}
.nav-pills .nav-link.active/*, .nav-pills .show>.nav-link*/{
/*.nav-pills.nav-link.active {*/
    background-color:darkgrey;
    color:white;
    min-width:30px;
    
}
.position-pills{
    float:right;
    width:70px;
    text-align:center;
}

.company-logo{
    width:40px;
    height:40px;
    float:left;
    margin:10px;
}
.contact-form{
    margin-left:50px;
}


/*******************************Career History************************/
.format-skills-career-heading{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
.format-skills-career-top{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin-top:30px;
    margin-bottom: 30px;
    margin-left: 40px;
}
.skills-career-color-top{
    background-color: lightsteelblue;
}
.skills-career-format-cols1{
    background-color: rgb(250, 250, 229);
}
.skills-career-format-cols2{
    background-color: rgb(220, 247, 220);
}
.skills-career-format-cols3{
    background-color: rgb(245, 210, 210);
}
.panel-format{
    border:white;
    border-width:5px;
    border-radius: 0.75em;
    border-style:solid;
    display: inline-block;
    margin-top:2px;
    margin-bottom: 2px;
}

.career-icon {
    font-size: 30px;
    color: black;
    margin-right: 10px;
    margin-top:30px;
}
.format-skills-career-detail{
    text-decoration: none;
    text-align: left;
  /*  margin-left:10px; */
    margin-top:20px;
}
.sub-heading-margin{
    margin: bottom 0.25em;
}
.skills-career-sub-heading{
    margin-top: 30px;
}


.index-box {
    margin-top: 30px;
    width:300px;
    background-color: lightgrey;
    border-color: black;
    border-width: 1.5px;
    z-index: 9;
    border-radius:0.5em;
   }

 .my-name {
    font-family: "Exo",sans-serif;
    font-weight: 100;
    font-size: 45px;
    color:black;
    padding-left: 25px;
    padding-right: 25px;

}
.my-title{
    font-family: "Exo",sans-serif;
    font-weight: 100;
    font-size: 30px;
    color:black;
    padding:25;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 1.1;
}
.contact-bar{
    background-color:lightgray;
    padding-top:10px;
    padding-bottom: 10px;
    font-size:20px;
    max-height:120px;
}


footer{
    background-color:lightgray;
    color:black;
    min-height: 120px;
    margin:0;
}
/******************************************************* submit button */ 

.submit-button{
    float: left;
    margin-top :10px;    ;
    background-color: lightgrey;
    color: black;
    border: 2px solid grey;
}
.submit-button:hover {
    background-color: red;
    color: white;
  }
  

.form-field{
    margin-bottom:10px;
    border:2px solid;
    border-color:darkgray;
}
.attribution{
    font-size: x-small;
    color:darkgray;
    float:bottomleft;
    margin-top: 20px;
}
.resp-img{
    width:100%;
    /* max-width: width 200px;*/
    height:auto;
    display: block;
    margin:0 auto;
}
.Portfolio-col{
    margin-top: 10px;
}